@import "react-quill/dist/quill.core.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
    font-family: "Inter", Helvetica;
  }
}
:root {
  --success: #14ae5c;
  --error: rgb(229, 89, 77);
  --graywhite: rgba(255, 255, 255, 1);
  --white: #ffffff;
  --gray-50: #f1f2f4;
  --gray-100: #e4e5e8;
  --gray-200: #c8ccd1;
  --gray-300: #adb2ba;
  --gray-400: #9199a3;
  --gray-500: #767f8c;
  --gray-600: #5e6670;
  --gray-700: #474c54;
  --gray-800: #2f3338;
  --gray-900: #18191c;
  --primary-50: #e7f0fa;
  --primary-100: #cee0f5;
  --primary-200: #9dc1eb;
  --primary-300: #6ca3e0;
  --primary-400: #3b84d6;
  --primary-500: #0a65cc;
  --primary-600: #0851a3;
  --primary-700: #063d7a;
  --primary-800: #042852;
  --primary-900: #021429;
  --success-50: #e7f6ea;
  --success-100: #ceecd5;
  --success-200: #9dd9ab;
  --success-300: #6dc680;
  --success-400: #3cb356;
  --success-500: #0ba02c;
  --success-600: #098023;
  --success-700: #07601a;
  --success-800: #044012;
  --success-900: #022009;
  --warning-50: #fff6e6;
  --warning-100: #ffedcc;
  --warning-200: #ffdb99;
  --warning-300: #ffc966;
  --warning-400: #ffb733;
  --warning-500: #ffa500;
  --warning-600: #cc8400;
  --warning-700: #996300;
  --warning-800: #664200;
  --warning-900: #332100;
  --danger-50: #fceeee;
  --danger-100: #f9dcdc;
  --danger-200: #f3b9b9;
  --danger-300: #ec9797;
  --danger-400: #e67474;
  --danger-500: #e05151;
  --danger-600: #b34141;
  --danger-700: #863131;
  --danger-800: #5a2020;
  --danger-900: #2d1010;
  --featured: #fff6e6;
  --facebook: #0a65cc;
  --twitter: #1da1f2;
  --instagram: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  --youtube: #cd201f;
  --toastify-color-success: rgba(10, 101, 204, 1);
  --toastify-color-error: #e05151;
  --toastify-text-color-success: rgba(10, 101, 204, 1);
  --toastify-text-color-warning: #e05151;
  --submitted: #ffaa00;
  --interview: #2196f3;
  --hired: #27c200;
  --rejected: #ff4f4f;
  --active: #27c200;
  --expired: #ff4f4f;
  --default-avatar: #a0aec0;
}

.canvas-field .ql-editor {
  min-height: 20px;
  height: fit-content;
  padding: 6px 10px 4px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#properties .ql-editor {
  min-height: 20px;
  height: fit-content;
  padding: 6px 10px 4px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#properties .ql-toolbar {
  padding: 3px;
}
.canvas-field .ql-container.ql-snow {
  border: 0;
}
.canvas-field .ql-container {
  height: 100%;
}

.canvas-field .ql-editor:focus {
  outline: 1px solid rgba(10, 101, 204, 1) !important;
  outline-offset: 0;
  border-radius: 4px;
}

.ql-font:focus {
  border: 0px;
}

/* Set content for font-families */
.ql-font-arial,
.ql-font span[data-value="arial"]::before {
  font-family: Arial, sans-serif;
}
.ql-font-comic-sans,
.ql-font span[data-value="comic-sans"]::before {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.ql-font-courier-new,
.ql-font span[data-value="courier-new"]::before {
  font-family: "Courier New";
}
.ql-font-georgia,
.ql-font span[data-value="georgia"]::before {
  font-family: Georgia, serif;
}
.ql-font-helvetica,
.ql-font span[data-value="helvetica"]::before {
  font-family: Helvetica, sans-serif;
}
.ql-font-lucida,
.ql-font span[data-value="lucida"]::before {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* Set content for sizes */
.ql-size-extra-small,
.ql-size span[data-value="extra-small"]::before {
  font-size: 13px !important;
}
.ql-size-small,
.ql-size span[data-value="small"]::before {
  font-size: 14px !important;
}
.ql-size-medium,
.ql-size span[data-value="medium"]::before {
  font-size: 18px !important;
}
.ql-size-large,
.ql-size span[data-value="large"]::before {
  font-size: 20px !important;
}
